body {
    width: 100vw;
    height: 100vh;
    font-family: Verdana;
}
.search-bar {
    background: rgba(255,255,255, 0.2);
    margin: 0 auto;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 50px;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    /* ensure it works on Safari*/
    -webkit-backdrop-filter: blur(10px); 
}
.search-bar button {
    border: 0;
}
.search-bar input {
    border: 0;
    width: 85%;   
    padding: 5px 3px;
}